<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masspick.peak.dd.mapper.TaskCountMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.masspick.peak.dd.model.TaskCount">
        <result column="id" property="id"/>
        <result column="day_add_task" property="dayAddTask"/>
        <result column="day_finish_task" property="dayFinishTask"/>
        <result column="acc_task" property="accTask"/>
        <result column="acc_finish_task" property="accFinishTask"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `day_add_task`,
        `day_finish_task`,
        `acc_task`,
        `acc_finish_task`,
        `create_date`,
        `update_date`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO dd_task_count (
            `id`,
            `day_add_task`,
            `day_finish_task`,
            `acc_task`,
            `acc_finish_task`,
            `create_date`,
            `update_date`
        ) VALUES (
            #{pojo.id},
            #{pojo.dayAddTask},
            #{pojo.dayFinishTask},
            #{pojo.accTask},
            #{pojo.accFinishTask},
            #{pojo.createDate},
            #{pojo.updateDate}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO dd_task_count
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.dayAddTask!=null"> `day_add_task`,</if>
            <if test="pojo.dayFinishTask!=null"> `day_finish_task`,</if>
            <if test="pojo.accTask!=null"> `acc_task`,</if>
            <if test="pojo.accFinishTask!=null"> `acc_finish_task`,</if>
            <if test="pojo.createDate!=null"> `create_date`,</if>
            <if test="pojo.updateDate!=null"> `update_date`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.dayAddTask!=null">#{pojo.dayAddTask},</if>
            <if test="pojo.dayFinishTask!=null">#{pojo.dayFinishTask},</if>
            <if test="pojo.accTask!=null">#{pojo.accTask},</if>
            <if test="pojo.accFinishTask!=null">#{pojo.accFinishTask},</if>
            <if test="pojo.createDate!=null">#{pojo.createDate},</if>
            <if test="pojo.updateDate!=null">#{pojo.updateDate},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO dd_task_count (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.dayAddTask},
            #{pojo.dayFinishTask},
            #{pojo.accTask},
            #{pojo.accFinishTask},
            #{pojo.createDate},
            #{pojo.updateDate}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE dd_task_count
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.dayAddTask != null"> `day_add_task` = #{pojo.dayAddTask}, </if>
            <if test="pojo.dayFinishTask != null"> `day_finish_task` = #{pojo.dayFinishTask}, </if>
            <if test="pojo.accTask != null"> `acc_task` = #{pojo.accTask}, </if>
            <if test="pojo.accFinishTask != null"> `acc_finish_task` = #{pojo.accFinishTask}, </if>
            <if test="pojo.createDate != null"> `create_date` = #{pojo.createDate}, </if>
            <if test="pojo.updateDate != null"> `update_date` = #{pojo.updateDate} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>

<!--auto generated by codehelper on 2018-05-29 14:46:27-->
    <select id="maxTaskCount" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from dd_task_count
        where create_date = (select max(create_date) from dd_task_count)
    </select>
</mapper>

