<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masspick.peak.resource.mapper.SysDictionaryMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.masspick.peak.resource.entity.SysDictionary">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="status" property="status"/>
        <result column="sort" property="sort"/>
        <result column="remark" property="remark"/>
        <result column="update_date" property="updateDate"/>
        <result column="create_date" property="createDate"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `code`,
        `name`,
        `parent_id`,
        `status`,
        `sort`,
        `remark`,
        `update_date`,
        `create_date`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO sys_dictionary (
            `id`,
            `code`,
            `name`,
            `parent_id`,
            `status`,
            `sort`,
            `remark`,
            `update_date`,
            `create_date`
        ) VALUES (
            #{pojo.id},
            #{pojo.code},
            #{pojo.name},
            #{pojo.parentId},
            #{pojo.status},
            #{pojo.sort},
            #{pojo.remark},
            #{pojo.updateDate},
            #{pojo.createDate}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO sys_dictionary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">`id`,</if>
            <if test="pojo.code!=null">`code`,</if>
            <if test="pojo.name!=null">`name`,</if>
            <if test="pojo.parentId!=null">`parent_id`,</if>
            <if test="pojo.status!=null">`status`,</if>
            <if test="pojo.sort!=null">`sort`,</if>
            <if test="pojo.remark!=null">`remark`,</if>
            <if test="pojo.updateDate!=null">`update_date`,</if>
            <if test="pojo.createDate!=null">`create_date`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.code!=null">#{pojo.code},</if>
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.parentId!=null">#{pojo.parentId},</if>
            <if test="pojo.status!=null">#{pojo.status},</if>
            <if test="pojo.sort!=null">#{pojo.sort},</if>
            <if test="pojo.remark!=null">#{pojo.remark},</if>
            <if test="pojo.updateDate!=null">#{pojo.updateDate},</if>
            <if test="pojo.createDate!=null">#{pojo.createDate},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO sys_dictionary (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.code},
            #{pojo.name},
            #{pojo.parentId},
            #{pojo.status},
            #{pojo.sort},
            #{pojo.remark},
            #{pojo.updateDate},
            #{pojo.createDate}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE sys_dictionary
        <set>
            <if test="pojo.id != null">`id` = #{pojo.id},</if>
            <if test="pojo.code != null">`code` = #{pojo.code},</if>
            <if test="pojo.name != null">`name` = #{pojo.name},</if>
            <if test="pojo.parentId != null">`parent_id` = #{pojo.parentId},</if>
            <if test="pojo.status != null">`status` = #{pojo.status},</if>
            <if test="pojo.sort != null">`sort` = #{pojo.sort},</if>
            <if test="pojo.remark != null">`remark` = #{pojo.remark},</if>
            <if test="pojo.updateDate != null">`update_date` = #{pojo.updateDate},</if>
            <if test="pojo.createDate != null">`create_date` = #{pojo.createDate}</if>
        </set>
        WHERE id = #{pojo.id}
    </update>

    <!--auto generated by codehelper on 2018-07-30 16:51:44-->
    <select id="dataGrid" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from sys_dictionary
        where parent_id is null
        <if test="name !=null and  name != ''">
            AND `name` like #{name}
        </if>
        <if test="status !=null">
            AND `status`=#{status}
        </if>
        <if test="code !=null and  code != ''">
            AND `code`= binary #{code}
        </if>
        order by update_date desc
    </select>

    <!--auto generated by codehelper on 2018-07-31 12:05:21-->
    <select id="findByCodeAndName" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from sys_dictionary
        where (`code`=#{code} or name=#{name}) and parent_id is null
    </select>

    <!--auto generated by codehelper on 2018-07-31 12:05:21-->
    <select id="findByCodeOrNameAndParentId" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from sys_dictionary
        where (`code`=#{code} or name=#{name}) and parent_id = #{parentId}
        <if test="id !=null and  id != ''">
            and id != #{id}
        </if>
    </select>

    <!--auto generated by codehelper on 2018-07-31 12:06:14-->
    <select id="findById" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from sys_dictionary
        where `id`=#{id}
    </select>

    <!--auto generated by codehelper on 2018-07-31 15:51:34-->
    <select id="findByParentId" resultMap="AllColumnMap">
        select
        a.`id`,
        a.`code`,
        a.`name`,
        b.name as parent_id,
        a.`status`,
        a.`sort`,
        a.`remark`,
        a.`update_date`,
        a.`create_date`
        from
        sys_dictionary a
        LEFT JOIN sys_dictionary b on a.parent_id = b.id
        where a.`parent_id`=#{parentId}
        <if test="name !=null and  name != ''">
            AND binary (a.`name` like #{name})
        </if>
        <if test="status !=null">
            AND a.`status`=#{status}
        </if>
        order by a.sort,a.update_date desc
    </select>

    <!--auto generated by codehelper on 2018-09-05 16:44:24-->
    <select id="findByParentIdIsNull" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from sys_dictionary
        where parent_id is null
    </select>

    <!--auto generated by codehelper on 2018-09-05 17:06:14-->
    <select id="findByCode" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from sys_dictionary
        where `code`=#{code} and parent_id is null
    </select>

    <!--auto generated by codehelper on 2018-09-05 17:06:14-->
    <select id="getByParentId" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from sys_dictionary
        where `parent_id`=#{parentId} order by sort,update_date DESC
    </select>
    
    
    <select id="getDictByTypeAndKey" parameterType="Map" resultMap="AllColumnMap">
        select *
        from sys_dictionary as a where a.code = #{bussKey} and a.parent_id
        in (SELECT id FROM sys_dictionary as b  where b.code = #{type})
        order by a.sort,a.update_date DESC
    </select>


</mapper>

