<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masspick.peak.resource.mapper.SysIndustryMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.masspick.peak.resource.entity.SysIndustry">
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="parent_code" property="parentCode"/>
        <result column="parent_name" property="parentName"/>
        <result column="sort" property="sort"/>
        <result column="level" property="level"/>
        <result column="category" property="category"/>
        <result column="update_date" property="updateDate"/>
        <result column="create_date" property="createDate"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `code`,
        `name`,
        `status`,
        `parent_code`,
        `parent_name`,
        `sort`,
        `level`,
        `category`,
        `update_date`,
        `create_date`,
        `remark`
</sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.code">
        INSERT INTO sys_industry (
            `code`,
            `name`,
            `status`,
            `parent_code`,
            `parent_name`,
            `sort`,
            `level`,
            `category`,
            `update_date`,
            `create_date`,
            `remark`
        ) VALUES (
            #{pojo.code},
            #{pojo.name},
            #{pojo.status},
            #{pojo.parentCode},
            #{pojo.parentName},
            #{pojo.sort},
            #{pojo.level},
            #{pojo.category},
            #{pojo.updateDate},
            #{pojo.createDate},
            #{pojo.remark}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.code">
        INSERT INTO sys_industry
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.code!=null"> `code`,</if>
            <if test="pojo.name!=null"> `name`,</if>
            <if test="pojo.status!=null"> `status`,</if>
            <if test="pojo.parentCode!=null"> `parent_code`,</if>
            <if test="pojo.parentName!=null"> `parent_name`,</if>
            <if test="pojo.sort!=null"> `sort`,</if>
            <if test="pojo.level!=null"> `level`,</if>
            <if test="pojo.category!=null"> `category`,</if>
            <if test="pojo.updateDate!=null"> `update_date`,</if>
            <if test="pojo.createDate!=null"> `create_date`,</if>
            <if test="pojo.remark!=null"> `remark`</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.code!=null"> #{pojo.code},</if>
            <if test="pojo.name!=null"> #{pojo.name},</if>
            <if test="pojo.status!=null"> #{pojo.status},</if>
            <if test="pojo.parentCode!=null"> #{pojo.parentCode},</if>
            <if test="pojo.parentName!=null"> #{pojo.parentName},</if>
            <if test="pojo.sort!=null"> #{pojo.sort},</if>
            <if test="pojo.level!=null"> #{pojo.level},</if>
            <if test="pojo.category!=null"> #{pojo.category},</if>
            <if test="pojo.updateDate!=null"> #{pojo.updateDate},</if>
            <if test="pojo.createDate!=null"> #{pojo.createDate},</if>
            <if test="pojo.remark!=null"> #{pojo.remark}</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO sys_industry(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.code},
            #{pojo.name},
            #{pojo.status},
            #{pojo.parentCode},
            #{pojo.parentName},
            #{pojo.sort},
            #{pojo.level},
            #{pojo.category},
            #{pojo.updateDate},
            #{pojo.createDate},
            #{pojo.remark}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">


        UPDATE sys_industry
        <set>
            <if test="pojo.code != null"> `code` = #{pojo.code},</if>
            <if test="pojo.name != null"> `name` = #{pojo.name},</if>
            <if test="pojo.status != null"> `status` = #{pojo.status},</if>
            <if test="pojo.parentCode != null"> `parent_code` = #{pojo.parentCode},</if>
            <if test="pojo.parentName != null"> `parent_name` = #{pojo.parentName},</if>
            <if test="pojo.sort != null"> `sort` = #{pojo.sort},</if>
            <if test="pojo.level != null"> `level` = #{pojo.level},</if>
            <if test="pojo.category != null"> `category` = #{pojo.category},</if>
            <if test="pojo.updateDate != null"> `update_date` = #{pojo.updateDate},</if>
            <if test="pojo.createDate != null"> `create_date` = #{pojo.createDate},</if>
            <if test="pojo.remark != null"> `remark` = #{pojo.remark}</if>
        </set>
        WHERE code = #{pojo.code}
    </update>

    <!--auto generated by codehelper on 2018-08-01 15:00:41-->
    <select id="findByNameAndCode" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from sys_industry
        where status=1
        <if test="name !=null and  name != ''">
            AND  binary (`name` like #{name})
        </if>
        <if test="code !=null and  code != ''">
            AND binary (`code` like #{code})
        </if>
        ORDER BY sort
    </select>
</mapper>

