<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masspick.peak.resource.mapper.SysUserAreaMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.masspick.peak.resource.entity.SysUserArea">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="area_id" property="areaId"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `user_id`,
        `area_id`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO sys_user_area (
            `user_id`,
            `area_id`
        ) VALUES (
            #{pojo.userId},
            #{pojo.areaId}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO sys_user_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.userId!=null"> `user_id`,</if>
            <if test="pojo.areaId!=null"> `area_id`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.userId!=null">#{pojo.userId},</if>
            <if test="pojo.areaId!=null">#{pojo.areaId},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO sys_user_area (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.userId},
            #{pojo.areaId}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE sys_user_area
        <set>
            <if test="pojo.userId != null"> `user_id` = #{pojo.userId}, </if>
            <if test="pojo.areaId != null"> `area_id` = #{pojo.areaId} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>

    <delete id="deleteByUserId">
        DELETE
        FROM
        sys_user_area
        WHERE
        user_id = #{userId}
    </delete>
</mapper>

