<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masspick.peak.resource.mapper.SysRoleMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.masspick.peak.resource.model.SysRole">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `name`,
        `status`,
        `remark`,
        `create_time`,
        `update_time`
    </sql>

    <sql id="all_column2">
        a.`id`,
        `name`,
        `status`,
        `remark`,
        `create_time`,
        `update_time`
    </sql>


    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO sys_role (
            `id`,
            `name`,
            `status`,
            `remark`,
            `create_time`,
            `update_time`
        ) VALUES (
            #{pojo.id},
            #{pojo.name},
            #{pojo.status},
            #{pojo.remark},
            #{pojo.createTime},
            #{pojo.updateTime}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.name!=null"> `name`,</if>
            <if test="pojo.status!=null"> `status`,</if>
            <if test="pojo.remark!=null"> `remark`,</if>
            <if test="pojo.createTime!=null"> `create_time`,</if>
            <if test="pojo.updateTime!=null"> `update_time`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.status!=null">#{pojo.status},</if>
            <if test="pojo.remark!=null">#{pojo.remark},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
            <if test="pojo.updateTime!=null">#{pojo.updateTime},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO sys_role (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.name},
            #{pojo.status},
            #{pojo.remark},
            #{pojo.createTime},
            #{pojo.updateTime}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE sys_role
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.name != null"> `name` = #{pojo.name}, </if>
            <if test="pojo.status != null"> `status` = #{pojo.status}, </if>
            <if test="pojo.remark != null"> `remark` = #{pojo.remark}, </if>
            <if test="pojo.createTime != null"> `create_time` = #{pojo.createTime}, </if>
            <if test="pojo.updateTime != null"> `update_time` = #{pojo.updateTime} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>

<!--auto generated by codehelper on 2018-05-01 14:20:10-->
    <select id="findById" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from sys_role
        where `id`=#{id}
    </select>

    <!--auto generated by codehelper on 2018-05-01 14:20:10-->
    <select id="selectByQueryParams" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from sys_role
        where 1 = 1
        <if test="searchLike != null"> and `name` LIKE #{searchLike} </if>
        <if test="order != null"> ORDER BY `${order}`</if>
        <if test="desc != null"> DESC </if>
    </select>

<!--auto generated by codehelper on 2018-05-01 14:23:31-->
    <delete id="deleteById">
        delete from sys_role
        where `id`=#{id}
    </delete>

<!--auto generated by codehelper on 2018-05-01 14:24:12-->
    <delete id="deleteByIdIn">
        delete from sys_role
        where `id` in
        <foreach item="item" index="index" collection="idList"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

<!--auto generated by codehelper on 2018-05-01 14:34:14-->
    <select id="find" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from sys_role
    </select>
    
    <select id="findListByUserId" parameterType="java.lang.String" resultMap="AllColumnMap">
        select
        <include refid="all_column2"/>
        from sys_role a
        LEFT JOIN sys_user_role ur ON ur.role_id = a.id
        WHERE a.status = '1'
        AND ur.user_id = #{userId}
        ORDER BY a.create_time DESC
    </select>

</mapper>

