<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.masspick.peak.resource.mapper.SysRoleMenuMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.masspick.peak.resource.model.SysRoleMenu">
        <result column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="menu_id" property="menuId"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `role_id`,
        `menu_id`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO sys_role_menu (
            `id`,
            `role_id`,
            `menu_id`
        ) VALUES (
            #{pojo.id},
            #{pojo.roleId},
            #{pojo.menuId}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO sys_role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.roleId!=null"> `role_id`,</if>
            <if test="pojo.menuId!=null"> `menu_id`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.roleId!=null">#{pojo.roleId},</if>
            <if test="pojo.menuId!=null">#{pojo.menuId},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO sys_role_menu (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.roleId},
            #{pojo.menuId}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE sys_role_menu
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.roleId != null"> `role_id` = #{pojo.roleId}, </if>
            <if test="pojo.menuId != null"> `menu_id` = #{pojo.menuId} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>

<!--auto generated by codehelper on 2018-05-01 01:06:50-->
    <delete id="deleteByRoleId">
        delete from sys_role_menu
        where `role_id`=#{roleId}
    </delete>

<!--auto generated by codehelper on 2018-05-01 01:07:31-->
    <select id="findByRoleId" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from sys_role_menu
        where `role_id`=#{roleId}
    </select>

    <select id="selectRoleMenuIdsByUserId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT DISTINCT rm.menu_id FROM `sys_user_role` ur
        INNER JOIN `sys_role` r ON r.`id` = ur.`role_id`
        INNER JOIN  `sys_role_menu` rm ON rm.`role_id` = ur.`role_id`
        WHERE ur.`user_id` = #{uid}
        AND r.`status` = 1
    </select>
</mapper>

