.container{height: 100%;overflow: hidden;}

/*---------------------公用样式-------------------------*/

.red{color: #e64340;}
.blue{color: #589af8;}


/*---------------------------------------头部---------------------------*/
.head_con{height: 70px;line-height: 70px; font-family: "PingFang SC Medium";}
.logo{height: 100%;width: 255px;color: #fff;background: #282a3c;padding-left: 20px;font-size: 18px;}
.logo>img{margin-top: 19px;height: 32px;margin-right: 5px;}
.head_right{padding-right: 30px; height: 100%;margin-left: 255px; background-color: #fff;color: #000;font-size: 16px;}
.search{margin: 16px 0 0 30px;padding-left: 20px; width: 280px;height: 38px;line-height: 38px; border-radius: 19px;background-color:#fff;}
.search input{height: 100%;width: 220px; font-size: 14px;display: block;}
.search>img{cursor: pointer;}
.log_out button{height: 40px;line-height: 40px; background-color: transparent;color: #000;font-size: 16px;}
.user_opera{cursor: pointer;}
.user_opera>img{margin-top: 26px;}
.user_opera>img:last-of-type{margin-top: 30px;}

.navLeft {
	float: left;
	padding: 15px;
	line-height: 40px;
}

.navLeft li {
	float: left;
	padding: 0 10px;
	margin: 0 5px;
}
.navLeft li a {
	color: #000;
	font-size: 16px;
}
.navLeft li:hover{
	color: #fff;
	background: #716aca;
	border-radius: 5px;
}
.navLeft li:hover a{
	color: #fff;
}

/*-----------------------------------主体-----------------------*/
.box{height: calc(100% - 70px);position: relative;}
/* 左侧导航 */
.menu_box{height: 100%;width: 255px;background-color: #2c2e3e;position: absolute;left: 0;top: 0;}
.con>ul>li .link{ cursor: pointer; display: block;margin: 5px 10px; padding: 5px 10px; line-height: 30px;font-size: 16px;color: #fff;}
.con>ul>li.open .link{background-color: #716aca;}
.con>ul>li .link>img.icon{margin: 7px 20px 0 0;}
.con>ul>li .link>img.icon2{margin: 9px 20px 0 0;}
.con>ul>li .link>img.xsj{
	/* Rotate img */
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); /* Internet Explorer */
	-moz-transform:rotate(-90deg); /* Firefox */
	-webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
	-o-transform:rotate(-90deg); /* Opera */
}
.con>ul>li.open .link>img.xsj{
	/* Rotate img */
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* Internet Explorer */
	-moz-transform:rotate(0deg); /* Firefox */
	-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
	-o-transform:rotate(0deg); /* Opera */
}
.con>ul>li .link+ul{display: none;}
.con>ul>li.open .link+ul{display: block;}
.con>ul>li .link+ul>li>a{display: block;padding-left: 60px;height: 36px;line-height: 36px;font-size: 14px;color: #fff;}
.con>ul>li .link+ul>li.current>a{background-color: #454c52;}
.con>ul>li .link+ul>li>a.current{background-color: #454c52;}

.xsj{display: block;float: right; margin: 12px 20px 0 0!important;}

/* 右侧主体 */
.crumb {font-size: 16px;height: 50px;line-height: 50px;}

.main_box{height: 100%;margin-left: 255px;background-color: #f5f5f5;padding: 0 30px 0;overflow-y: scroll;}
.search_box{padding: 0 180px 28px 0;margin-bottom: 30px;}
.main_box .position {position: relative;}
/* 通用表单样式 */
.input_row.row {margin: auto;}
.input_row.row .g_input{height: 68px;}
.g_input{float: left; padding-left: 30px;}
.g_input .label{padding-top: 30px; color: #333;display: inline-block;height: 68px;width:100%;line-height: 38px;white-space: nowrap;}
.g_input .label>input{margin-left: 10px;float: left;background-color: #f5f5f5;padding: 0 0 0 9px;font-size: 14px;width: 240px;height: 38px;border: 1px solid #eee;border-radius: 3px;}
.g_input .label>select{margin-left: 10px;float: left; background-color: #f5f5f5;padding: 0 0 0 9px;font-size: 14px;width: 240px;height: 38px;border: 1px solid #eee;border-radius: 3px;}
.g_input .label>span{display: inline-block;float: left;width:calc(100% - 250px);font-size: 14px;text-align: right;}
.g_input.has_date .label>span{width:calc(100% - 520px);}
.g_input .sex label { margin-left: 10px; }
.g_input .sex label>span { margin-left: 5px; }
.calendar_box{float: left;margin-left: 10px;}
.search_btn{padding: 30px 0 0 30px;}
.add_btn,.operate_btns {position: absolute; right: 30px; top: 30px;}
.operate_btns .btn {margin-left: 10px;}
.calendar_box>input{background-color: #f5f5f5;padding: 0 0 0 9px;font-size: 14px;width: 233px;height: 38px;border: 1px solid #eee;border-radius: 3px;}

/* table */

#table,#tableField,#tableSelectField { table-layout: fixed; }
#table td,#tableField td, #tableSelectField td { word-wrap:break-word; }

.bootstrap-table .table.theadBg > thead > tr > th {
	background: #eef5fe;
}
button#tableEditor, button#tableDelete {
	background: none;
	margin: 0 10px;
}
button#tableEditor::before {
	content: '';
	padding: 5px 10px;
	background: url(../images/btn_edit_icon.png) left center no-repeat;
	background-size: 14px;
}
button#tableDelete::before {
	content: '';
	padding: 5px 10px;
	background: url(../images/btn_del_icon.png) left center no-repeat;
	background-size: 12px;
}
button.operateA {
	margin: 0 10px;
	background: none;
}


/* table 翻页样式 */
.fixed-table-pagination .page-list {
	display: none;
}
.fixed-table-pagination .pagination a {
	border: 1px solid #666;
	color: #666;
	padding: 4px 10px;
	font-size: 12px;
	padding: 4px 8px;
}
.pagination {
	float: right;
}
.page-item.active .page-link {
	background: none;
	color: #589af8;
	border: 1px solid #fff;
}
.page-item:first-child .page-link {
	border-radius: 0;
}

/* 弹出层样式 */
.modal.fade .modal-dialog {
	width: 980px;
	max-width: 980px;
}
.modal-title {
	display: block;
	font-size: 18px;
}



/* 首页样式 */
.orderMenuList {
	display: flex;
	display: -webkit-flex;

	justify-content: space-around;
}
.orderMenuList li {
	width: 22%;
	background: #fff;
	padding: 30px;
}
.orderMenuList li:nth-child(4n) {
	margin-right: 0;
}
.orderMenuList li dt {
	font-size: 18px;
	color: #999;
	margin-bottom: 30px;
}
.orderMenuList li dd {
	font-size: 60px;
	color: #666;
	text-align: right;
	line-height: 80px;
}
.orderMenuList li:nth-child(4) dd {
	color: #e33e47;
}
.orderMenuList li:nth-child(1) dd {
	display: flex;
	display: -webkit-flex;

	justify-content: flex-end;
	align-items: center;
}
.orderMenuList li:nth-child(1) dd i {
	font-size: 40px;
	color: #666;
	line-height: 60px;
}

.orderMenuList li:nth-child(1) dt::before {
	content: '';
	padding: 10px 25px;
	background: url(../images/indexOrderMenu_01.png) left center no-repeat;
	background-size: 30px;
}
.orderMenuList li:nth-child(2) dt::before {
	content: '';
	padding: 10px 25px;
	background: url(../images/indexOrderMenu_02.png) left center no-repeat;
	background-size: 30px;
}
.orderMenuList li:nth-child(3) dt::before {
	content: '';
	padding: 10px 25px;
	background: url(../images/indexOrderMenu_03.png) left center no-repeat;
	background-size: 30px;
}
.orderMenuList li:nth-child(4) dt::before {
	content: '';
	padding: 10px 25px;
	background: url(../images/indexOrderMenu_04.png) left center no-repeat;
	background-size: 30px;
}

/* 尽调结果 */
.result_box {
	padding-bottom: 20px;
}
.result_box .g_tit {
	border-bottom: 0;
	background: #eef5fe;
}
.result_box .g_tit>h5 {
	text-align: center;
}
.tableBox {
	width: 960px;
	margin: auto;
	margin-bottom: 30px;
	border: 1px solid #e2e2e2;
}
.tableBox .tableTitle {
	font-size: 16px;
	line-height: 48px;
	padding: 0 30px 0 50px;
	border-bottom: 1px solid #e2e2e2;
	background: url(../images/result_title_icon.png) 20px center no-repeat;
}
.resultTable tr th,
.resultTable tr td {
	padding: 20px;
}
.resultTable img {
	min-height: 160px;
}
.resultTable tr th {
	width: 300px;
	border-right: 1px solid #e2e2e2;
}
.bootstrap-table .resultTable:not(.table-condensed), 
.bootstrap-table .resultTable:not(.table-condensed) > tbody > tr > th, 
.bootstrap-table .resultTable:not(.table-condensed) > tfoot > tr > th, 
.bootstrap-table .resultTable:not(.table-condensed) > thead > tr > td, 
.bootstrap-table .resultTable:not(.table-condensed) > tbody > tr > td, 
.bootstrap-table .resultTable:not(.table-condensed) > tfoot > tr > td {
	padding: 8px 20px;
}
.bootstrap-table .resultTable > thead > tr > th {
	background: #fff;
}
.bootstrap-table .resultTable > thead > tr:nth-child(2) {
	display: none;
}




