.inline_row{width: 1020px;}
.inline{float: left; font-size: 14px;color: #333;height: 64px;line-height: 34px;overflow: hidden;padding-bottom: 30px;width: 100%;}
.inline.col_6{width: calc(50% - 40px);}
.inline.col_6:first-of-type{margin-right: 80px;}
.inline .text{padding-left: 20px; display: block;float: left;width: 100px;}
.inline .value{display: block;float: left;padding-left: 20px; height: 100%;border-bottom: 1px solid #e2e2e2;width: calc(100% - 156px);}

.inline_btns {
  display: flex;
  display: -webkit-flex;

  justify-content: center;

  margin: 30px auto;
}
.inline_btns .btn  {
  margin: 0 15px;
}

.list_box.position .g_tit .btn {
  position: absolute;
  right: 30px;
  top: 10px;
}